.about {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__container {
    display: flex;
    gap: 30px;
  }

  &__left-side {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }

  &__right-side {
    @media screen and (min-width: $tablet) {
      width: 330px;
    }

    @media screen and (min-width: $desktop) {
      width: 470px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }
}