/*Benefits*/

.benefits {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  &--container {
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

    color: $title-color;

    margin-bottom: 20px;

  }

  &__left-side {
    @media screen and (min-width: $tablet) {
      padding-right: 228px;
    }

    @media screen and (min-width: $desktop) {
      padding-right: 60px;
      width: 50%;
      margin-left: 130px;
    }
  }

  &__right-side {
    margin-top: 44px;
    order: -1;

    @media screen and (min-width: $tablet) {
      padding-left: 228px;
    }

    @media screen and (min-width: $desktop) {
      padding-left: 85px;
      margin-top: 0;

    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media screen and (min-width: $desktop) {
      width: 370px;
      margin: 0 auto;
    }
  }

  &__item {
    width: 194px;
    min-height: 133px;
    padding: 20px 36px;
    background: #f7f7f7;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
      width: 210px;
      padding: 20px 44px;
    }

    @media screen and (min-width: $desktop) {
      width: 170px;
      padding: 20px 24px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (min-width: $mobile) {
        margin-bottom: 0;
      }
      
    }

    &:nth-child(2n) {
      
      @media screen and (min-width: $mobile) {
        margin-top: 30px;
        margin-left: 30px
      }
  
    }
  }

  &__quantity {
    @include fonts(42px, 57px, 700, 0.05em, $title-color);
    text-align: center;
    margin-bottom: 4px;
    position: relative;
    display: inline-block;

    &::after {
      content: '+';
      position: absolute;
      top: 7px;
      right: -15px;

      font-weight: 600;
      font-size: 16px;
      line-height: calc(22 / 16);
      text-align: center;
      color: $link-color;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    
    color: $title-color;
  }

}