/*Gallery*/

.gallery {
  padding-top: 84px;
  padding-bottom: 84px;

  &__uppertitle {
    display: flex;
    align-items: center;
    margin-bottom: 71px;
    text-transform: uppercase;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);

    color: $title-color;

    @media screen and (min-width: $tablet) {
      margin-bottom: 44px;
    }

    &::before {
      content: '';
      
      width: 60px;
      height: 1px;
      margin-right: 20px;
      background-color: $title-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}