.button {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $title-color;

  background-color: transparent;
  border: 1px solid $link-color;
  border-radius: 25px;
  cursor: pointer;

  transition: color $anim-fast, background-color $anim-fast;

  &:hover, 
  &:focus {
    color: $white-color;
    background-color: $link-color;
  }

  &--theme-dark {
    color: $white-color;
  }

}