/*Typography*/

@mixin fonts($size: false, $lh: false, $weight: false, $ls: false, $color: false) {
  @if $size {
    font-size: $size;
  }

  @if $lh {
    line-height: calc($lh / $size);
  }
  @if $weight {
    font-weight: $weight;
  }

  @if $ls {
    letter-spacing: $ls;
  }
  @if $color {
    color: $color;
  }
}

.uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase;

  @include fonts(11px, 15px, 600, false, $title-color);

  &::before {
    content: '';
    
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: $title-color;
  }
}

.title {
  font-family: 'Raleway', sans-serif;
  @include fonts(28px, 33px, 700, 0.05em, $title-color);
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}

.undertitle {
  font-size: 16px;
  line-height: calc(26 / 16);

  color: $text-color;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: calc(30 / 18);
  }
}

.text {
  font-size: 14px;
  line-height: calc(26 / 14);

  color: $text-color;

  margin-bottom: 44px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 42px;
  }

}